.profileContainer {
  display: flex;
}

.profileRight {
  flex: 9;

  .profileCover {
    height: 18rem;
    position: relative;
  }
  .coverImg {
    width: 100%;
    height: 15.7rem;
    object-fit: cover;
  }

  .userImgBlock {
    .userImg {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      border: solid 2px rgba(255, 255, 255, 0.87);
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .editUserImgBtn {
      padding: 0;
      border: 0;
      background: none;
      box-shadow: none;
      background: none;
      position: absolute;
      left: 6rem;
      right: 0;
      bottom: 7.5rem;
      margin: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
    }

    .editUserImgBtn:focus > :first-child {
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      border-left: 2px solid #fffffff1;
      border-top: 1px solid #ffffffcc;
      border-radius: 8px;
      color: gold;
      box-shadow: 2px 1px 1px #ffffff56;
      transition: 0.07s;
    }

    .editUserImg {
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.87);
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      border-left: 1px solid #ffffff9b;
      border-top: 1px solid #ffffff56;
      box-shadow: 2px 1px 1px;
      border-radius: 8px;
      cursor: pointer;
    }
    .editUserImg:hover {
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      border-left: 2px solid #fffffff1;
      border-top: 1px solid #ffffffcc;
      border-radius: 8px;
      color: gold;
      box-shadow: 2px 1px 1px #ffffff56;
      transition: 0.07s;
    }
  }

  .profileBottomNotUser {
    display: flex;
    flex-direction: column;
  }

  .profileFeedSectionNotUser {
    order: 2;
  }
  .profileInfoSectionNotUser {
    order: 1;
  }

  @media screen and (min-width: 650px) {
    .profileBottomUser {
      display: flex;
    }
    .contactsSectionUser {
      display: flex;
      flex: 3.5;
    }
    .profileFeedSectionUser {
      display: flex;
      flex: 5.5;
    }
    .profileBottomNotUser {
      display: flex;
      flex-direction: row;
    }
    .profileFeedSectionNotUser {
      order: 1;
      flex: 5.5;
    }
    .profileInfoSectionNotUser {
      order: 2;
      flex: 3.5;
    }
  }

  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .editInfoBtn {
    border-radius: 0.3rem;
    border: 1px solid #8c8a8a;
    padding: 0.5rem 0.8rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #242628;
  }
  .editInfoBtn:hover {
    background-color: #3c3e41;
  }

  .profileName {
    margin: 0.7rem 0 0 0;
    padding: 0;
    font-size: 1.4rem;
  }
  .profileDescription {
    margin: 0.2rem 0 1rem 0;
    font-size: 0.95rem;
  }
}
