@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-family: "Lobster Two", cursive;
    font-size: 2rem;
    font-weight: 700;
  }

  .navLeft {
    margin-right: auto;
    flex: 3;
  }
  .navCenter {
    flex: 5;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #8c8a8a;
  }
  .navCenter:focus-within {
    border: 1px solid #a4a4a3;
  }
  // searchbar rules
  .searchBar {
    width: 100%;
    .glass {
      right: 0.15rem;
    }
    .searchInput {
      width: 100%;
      border: none;
      background: transparent;
      padding-right: 0.2rem;
    }
    .searchInput:focus {
      outline: none;
    }
    .searchInput:focus + .glass {
      color: #ffbd20;
    }
  }

  .navRight {
    margin-left: auto;
    flex: 4;
    gap: 0.5rem;
  }

  .navLinks {
    gap: 0.4rem;
    cursor: pointer;
  }

  .navIcons {
    cursor: pointer;
    position: relative;
    gap: 0.5rem;
  }
  .navIcons:nth-child(4) {
    margin-right: 0.5rem;
  }

  .navIconBadge {
    background: #ef3340;
    font-size: 0.7rem;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0rem;
    left: 1rem;
  }

  .userImg {
    height: 2.8rem;
    width: 2.8rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
}
