nav {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0px;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #242628;

  * {
    display: flex;
    align-items: center;
  }

  .linkElement {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
  }

  .navLeft {
    margin-right: auto;
    flex: 3;
  }
  .navCenter {
    flex: 5;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #8c8a8a;
  }
  .navCenter:focus-within {
    border: 1px solid #a4a4a3;
    border-color: 1px solid #f9f9f9;
  }

  // searchbar rules
  .searchBar {
    width: 100%;
    .glass {
      right: 0.15rem;
    }
    .searchInput {
      width: 100%;
      border: none;
      background: transparent;
      padding-right: 0.2rem;
    }
    .searchInput:focus {
      outline: none;
    }
    .searchInput:focus + .glass {
      color: #ffbd20;
    }
  }

  .navRight {
    margin-left: auto;
    flex: 4;
    gap: 0.5rem;
    padding-right: 0.5rem;
  }

  .navLinks {
    margin-left: auto;
    gap: 0.4rem;
    cursor: pointer;
  }

  .navIcons {
    cursor: pointer;
    position: relative;
    gap: 0.5rem;
  }
  .navIcons:nth-child(4) {
    margin-right: 0.5rem;
  }

  .navIconBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ef3340;
    font-size: 0.7rem;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0rem;
    left: 1rem;
  }
}

//Dropdown menu rules
.dropDownMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  .imageContainer {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    .userImg {
      height: 2.8rem;
      width: 2.8rem;
      object-fit: cover;
      border: 1px solid rgba(255, 255, 255, 0.87);
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .menuBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    position: absolute;
    top: 2rem;
    right: 0.2rem;
    padding: 1.4rem;
    background-color: #242628;
    padding: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.604);
    border-radius: 0.5rem;
  }
  .hidden {
    display: none;
  }

  .navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.87);
  }
  .navItem > :hover {
    color: #ffbd20;
  }
  .navItem > :focus {
    color: #ffbd20;
  }
}
