nav {
  display: flex;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #242628;
  z-index: 1;

  * {
    display: flex;
    align-items: center;
  }

  .linkElement {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
  }

  .logo {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .navLeft {
    margin-right: auto;
    flex: 3;
  }
  .navCenter {
    flex: 6;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #8c8a8a;
  }
  .navCenter:focus-within {
    border: 1px solid #a4a4a3;
    border-color: 1px solid #f9f9f9;
  }

  // searchbar rules
  .searchBar {
    width: 100%;
    .glass {
      right: 0.15rem;
    }
    .searchInput {
      width: 100%;
      border: none;
      background: transparent;
      padding-right: 0.2rem;
    }
    .searchInput:focus {
      outline: none;
    }
    .searchInput:focus + .glass {
      color: #ffbd20;
    }
  }

  .navRight {
    margin-left: auto;
    flex: 3;
    gap: 0.5rem;
    padding-right: 0.5rem;
  }

  .navLinks {
    margin-left: auto;
    gap: 0.4rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
  }
  .navLinks > :hover {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.947);
  }
  .navLinks > :focus {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.947);
  }

  .navIcons {
    cursor: pointer;
    position: relative;
    gap: 0.5rem;
  }
  .navIcons:nth-child(4) {
    margin-right: 0.5rem;
  }

  .navIconBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ef3340;
    font-size: 0.7rem;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0rem;
    left: 1rem;
  }

  .profileMenuImg {
    margin-left: auto;
  }
}

//Dropdown menu rules
//small screens

.dropDownMenu {
  display: flex;
  flex-direction: column;
  .imageContainer {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    .userImg {
      height: 2.8rem;
      width: 2.8rem;
      object-fit: cover;
      border: 1px solid rgba(255, 255, 255, 0.87);
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .menuBox {
    background: #242628;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 2.7rem;
    right: 0;
    height: 100vh;
    transition: all 0.5s ease;
    z-index: 0;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 2rem;
  }
  .hidden {
    background: #242628;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 2.7rem;
    z-index: 0;
    right: 110%;
    height: 100vh;
    transition: all 0.5s ease;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 2rem;
  }

  .navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.87);
  }
  .navItem > :hover {
    color: #ffbd20;
  }
  .navItem > :focus {
    color: #ffbd20;
  }
}

@media screen and (min-width: 700px) {
  .dropDownMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    .imageContainer {
      background: none;
      border: none;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      .userImg {
        height: 2.8rem;
        width: 2.8rem;
        object-fit: cover;
        border: 1px solid rgba(255, 255, 255, 0.87);
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .menuBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: auto;
      gap: 0.3rem;
      position: absolute;
      top: 2rem;
      right: 0.2rem;
      padding: 1.2rem 1.8rem;
      background-color: #242628;
      border: 1px solid rgba(255, 255, 255, 0.604);
      border-radius: 0.5rem;
    }
    .hidden {
      display: none;
      z-index: 0;
    }

    .navLinks {
      list-style: none;
      padding: 0;
      margin: 0;
      color: rgba(255, 255, 255, 0.87);
    }
    .navItem > :hover {
      color: #ffbd20;
    }
    .navItem > :focus {
      color: #ffbd20;
    }
  }
}

@media screen and (min-width: 700px) {
  nav {
    .logo {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
